Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/0.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/1.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/1.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/2.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/2.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/3.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/3.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/4.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/4.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/5.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/5.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/6.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/6.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/7.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/7.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/8.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/8.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/9.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/9.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/10.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/10.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/11.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/11.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/12.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/12.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/13.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/13.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/14.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/14.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/15.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/15.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/16.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/16.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/17.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/17.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/18.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/18.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/19.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/19.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/20.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/20.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/21.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/21.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/22.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/22.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/23.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/23.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/24.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/24.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/25.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/25.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/26.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/26.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/27.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/27.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/28.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/28.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/29.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/29.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/30.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/30.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/31.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/31.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/32.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/32.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/33.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/33.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/34.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/34.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/35.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/35.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/36.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/36.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/37.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/37.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/38.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/38.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/39.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/39.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/40.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/40.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/41.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/41.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/42.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/42.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/43.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/43.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/44.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/44.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/45.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/45.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/46.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/46.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/47.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/47.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/48.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/48.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/49.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/49.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/50.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/50.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/51.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/51.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/52.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/52.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/53.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/53.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/54.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/54.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/55.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/55.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/56.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/56.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/57.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/57.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/58.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/58.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/59.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/59.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/60.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/60.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/61.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/61.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/62.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/62.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/63.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/63.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/64.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/64.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/65.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/65.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/66.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/66.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/67.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/67.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/68.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/68.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/69.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/69.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/70.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/70.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/71.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/71.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/72.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/72.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/73.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/73.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/74.0MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/74.5MHz.png
Beam_weighted_foreground/Beam_Plots/Dipole_EW_Phase180_Sky_Plot/75.0MHz.png
Beam_weighted_foreground/Healpy_Beam_Arrays
